.center, .center>tr {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    left: 50%;

}

.left{
    text-align: left;
}

.right{
    text-align: right
}

body{
    background-color: #F0FAEF;
    margin-left: 10%;
    margin-right: 10%;
}

.horizontalTrim{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.addPadding{
    padding: 30px;
}

.morePadding{
    border-collapse: separate;
    border-spacing: 20px;
}

.btn-primary{
    padding:5px;
}

.btn-long{
    background-color: #D4F2D2;
    margin: 0px;
    border: 1px solid ;
}
.btn-small{
    background-color: #D4F2D2;
    padding: 3px;
    margin: 0px;
    border: 1px solid ;
}

image {
    height: 400px;
}

.borderedWithColor{
    background-color: #D4F2D2;
    border: 1px solid ;
    border-radius: 10px;
}

.card{
    border-radius: 20px;
    padding:5px;
}

.datepicker-dropdown{
    margin-left: 10%;
    margin-right: 10%;
}

.rating{
    font-size: large;
}

.alignLeft{
    text-align: left;
}
.alignRight{
    text-align: right;
}

embed{
    min-height: 500px;
    min-width: 75%;
}

.green{
    color: #157347;
    font-weight: bold;
}

.yellow{
    color: #ffca2c;
    font-weight: bold;
}

.red{
    color: #bb2d3b;
    font-weight: bold;
}

.whiteBackground{
    background-color: white;
}

.chatBubbleSelf{
    background-color: #92dcff;
}

.chatBubbleOthers{
    background-color: #f1f1f1;
}
